     @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
    /* 1. Prevent the whole page from leaking out */
html, body {
    max-width: 100%;
    overflow-x: hidden;
} 
    .red4{
      display: block;
      
    }
    .body{
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    top: 0;
    left: 0;
    font-family: "Playfair Display", serif;
    }
.nav-holder{
    display: flex;
    margin-top: 10px;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 100;
    transition: background-color 0.3s ease;

        }
.nav-holder a{
      text-decoration: none;
      color: #fff;
      font-family: 'Playfair Display', serif;
      }
.Owner{
    font-family: 'Playfair Display', serif;
            font-size: 20px;
            font-weight: 400;
        }
.Owner a:hover{
    color: rgb(200, 7, 7);
        }
.middle-links{
    display: flex;
    align-items: center;
    gap: 10px;;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 500;
    }

.middle-links a:hover{
      text-decoration: underline;
      color: rgb(200, 7, 7);
    }
    
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0px;
        border-radius: 0;
        margin-right: 20px;
    }
.dropdown-menu a{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}
.dropdown-menu a:hover{
    color: rgb(200, 7, 7);
    text-decoration: underline;
        }


.dropdown-item {
    color: #000; 
    text-decoration: none;
    display: block;
    font-family: 'Playfair Display', serif;
    padding: 10px;
    width: 20px;
    gap: -40px;
    margin-right: 30px;
}

.dropdown-item:hover {
    color: rgb(200, 7, 7);
    text-decoration: underline;
    background: none;
}

.social-links a{
    margin-left: 15px;
    margin-right: 15px;
}
.social-links a svg{
    width: 24px;
    height: 24px;
    fill: #fff;
    transition: fill 0.3s ease;
}
.social-links a:hover svg path{
    fill: rgb(200, 7, 7);
}
.topic{
    margin-top: 50px;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 100;
    color: rgb(200, 7, 7);
}
.subtopic{
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: 400;
    color: #000000;
}
.books{
    margin-top: 30px;
    grid-row: 3;
    column-gap: 20px;
    gap: 10px;
    border-radius: 20px;
    display: flex;
}
.books img{
    width: 100%;
    border: 2px solid black;
}

/* --- HAMBURGER STYLING --- */
.hamburger {
    display: none;
    cursor: pointer;
    background: none;
    border: none;    
}

.hamburger span {
    display: block;
    width: 15px;
    height: 1px;
    background-color: #fff;
    margin: 5px 0;
    transition: all 0.3s ease-in-out; /* Smooth animation */
}
.hamburger span:hover{
  background-color:  rgb(200, 7, 7);
}
  .social-links2 svg{ display: none;}
  .middle-links3{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 60px;
    margin-left: 300px;
  }
  .middle-links3 a{
    color: #fff;
    text-decoration: none;
    font-family: 'Playfair Display', serif
  }
  .middle-links3 .dropdown-item{
    color: #000;
  }
  .with{
    display: block;
  }

@media only screen and (max-width: 768px) {
  body{
    width: 100%;

  }
  .body{
    align-items: center;
    padding: 0;
    top: 0;
    left: 0;
    font-family: "Playfair Display", serif;
  }
      .Owner{
      line-height: 20px;
      font-size: 18px;
      font-weight: 400;
    }

    .hamburger { 
      display: block;
      margin-left: 260px;
      top: 0;
      padding: 0;
      margin-top: 25px;
      width: 30px;
      font-weight: 900;
      line-height: 10px;
      align-items: end;
      text-align: end;
      justify-items: end;
      justify-content: end;
    }
    .hamburger span{
      background-color: white;

    }
    .hamburger span:hover{
      background-color:  rgb(200, 7, 7);

    }
    /* Top bar: rotate 45 degrees */
    .hamburger.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    /* Middle bar: fade out */
    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }
    /* Bottom bar: rotate -45 degrees */
    .hamburger.active span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .middle-links {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 50vh;
        color: #000;
        line-break: strict;
        background: #fff;
        flex-direction: column;
        text-align: end;
        padding: 20px 0;
    }
    .middle-links a{
      text-decoration: none;
      color: #000000;
      font-family: 'Playfair Display', serif;
      font-size: 20px;
    }
    .middle-links.active { display: flex; }
    .dropdown-item a{
      color: #000;
    }
.dropdown-menu a{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}
.dropdown-menu a:hover{
    color: rgb(200, 7, 7);
    text-decoration: underline;
        }

.dropdown-item {
    color: #000; 
    text-decoration: none;
    display: block;
    font-family: 'Playfair Display', serif;
    padding: 10px;
    width: 20px;
    margin-right: 30px;
}

.dropdown-item:hover {
    color: rgb(200, 7, 7);
    text-decoration: underline;
    background: none;
}


    .social-links svg{ display: none;}
    .social-links2 svg{ display: inline-flex;
      top: 0;
      padding: 0;
      width: 30px;
      align-items:center;
      justify-content: center;
      margin-bottom: 20px;

    }
    .se{
      margin-top: 150px;
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      height: auto;
    }
    .combo{
      display: inline;
      
    }
    .text{
      margin-top: -90px;
      text-align: center;
    }
    .text h2{
      font-family: 'Playfair Display', serif;
      font-size: 30px;
      font-weight:300;
    }
    .text p{
      font-family: 'Playfair Display', serif;
      font-size: 13px;
      font-weight: lighter;
    }
    .text button{
      padding: 5px 10px;
      border-radius: 2px;
      margin-top: 22px;
      margin-bottom: 0;
    }
    .combo img{
      margin-top: -80px;
      margin-bottom: 30px;
    }
    .combo2{
      display: inline;
    }
    .text2{
      margin-top: -90px;
      text-align: center;
    }
    .text2 h2{
      font-family: 'Playfair Display', serif;
      font-size: 30px;
      font-weight:300;
    }
    .text2 p{
      font-family: 'Playfair Display', serif;
      font-size: 13px;
      font-weight: lighter;
    }
    .text2 button{
      padding: 3px 10px;
      align-items: center;
      border-radius: 2px;
      margin-top: 22px;
      margin-bottom: 0;
    }
    .red4{
      display: block;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
    .red4 .middle-links3 a{
      display: flex;
      flex-wrap: nowrap;
      text-decoration: none;
      color: #fff;
      font-family: 'Playfair Display', serif
    }
    .middle-links3{
      display: block;
      top: 70px;
      left: 0;
      gap: 60px;
      width: 100px;
      margin-bottom: 0;
    }
    .dropdown-menu .dropdown-item a{
      color: #000;
      text-decoration: none;
      font-family: 'Playfair Display', serif
    
    }
    .red4{
      display: block;
      height: 100vh;
    }
    .copyright, .location, .policy{
      margin-top: -150px;
    }
    .red4 .social-links{
      margin-top: -200px;
    }
  }
  