@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.body{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
}
.bg-image{
    background: scroll;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("images/IMG_0106.jpeg");
    background-size: cover;
    background-position: center;
    opacity: 1;
    z-index: -1;
}
.nav-holder{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    top: 0;
    background-color: transparent;
    z-index: 100;
    transition: background-color 0.3s ease;

}
.nav-holder a{
    text-decoration: none;
    color: #fff;
}
.Owner{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 400;
}
.work{
    font-size: 15px;
    font-weight: 100;
    font-style: italic;
    color: #c6c5c5;
    top: -10px;
}
.Owner a:hover{
    color: rgb(200, 7, 7);
}
.middle-links a{
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 500;
}
.middle-links a:hover{
    text-decoration: underline;
    color: rgb(200, 7, 7);
}
.dropdown-menu a{
    display: block;
    padding: 10px 20px;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.dropdown-menu a:hover{
    background-color: #f1f1f1;
    color: rgb(200, 7, 7);
}
.social-links a{
    margin-left: 15px;
    margin-right: 15px;
}
.social-links a svg{
    color: #fff;
    width: 24px;
    height: 24px;
}
.social-links a:hover svg path{
    fill: rgb(200, 7, 7);
}
.inline{
    display: flex;
    flex-direction: row;
}
.up-text{
    color:#c6c5c5;
    font-size: 14px;
    justify-content: start;
}
.se{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin-top: 150px;
    color:#c6c5c5;
    font-size: 14px;
    justify-content: end;
    align-items: end;
    position: absolute;
    right: 50px;
}
.but{
    background-color: linear-gradient(to bottom, rgb(200, 7, 7), rgb(150, 5, 5), rgb(100, 3, 3));
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.but:hover{
    background-color: rgb(150, 5, 5);
}
.red{
    background-color: rgb(200, 7, 7);
    color: #e7e6e6;
    padding: 35px;
    margin-top: 0px;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 15px;
}
.combo{
    columns: 2;
    column-gap: 40px;
}
img, .image{
    width: 100%;
    height: auto;
}
.text{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px;
    display: inline-block;
    margin-top: 10px;
}
.text h2{
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: 100;
}
.text hr{
    width: 100px;
    height: 2px;
    display: inline-block;
    border: 2px solid rgb(200, 7, 7);
    margin-top: 10px;
    margin-bottom: 10px;
}
.text p{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 100;
    margin-top: 20px;
}
.text button{
    background: rgb(200, 7, 7);
    color: #fff;
    border: 1px solid rgb(31, 31, 31);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.text button:hover{
    background-color: rgb(150, 5, 5);
    color: #fff;
    text-decoration: underline;
}
.red2{
    background-color: rgb(200, 7, 7);
    color: #e7e6e6;
    padding: 35px;
    margin-top: -50px;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 15px;
}
.combo2{
    columns: 2;
    column-gap: 40px;
}
img, .image{
    width: 100%;
    height: auto;
}
.text2{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px;
    display: inline-block;
    margin-top: 10px;
}
.text2 h2{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    font-weight: 100;
}
.text2 hr{
    width: 100px;
    height: 2px;
    display: inline-block;
    border: 2px solid rgb(200, 7, 7);
}
.text2 p{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 50;
    margin-top: 20px;
}
.text2 button{
    background: rgb(200, 7, 7);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.text2 button:hover{
    background-color: rgb(150, 5, 5);
    color: #fff;
    text-decoration: underline;
}
.red3{
    background-color: rgb(200, 7, 7);
    color: #e7e6e6;
    padding: 35px;
    margin-top: -67px;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 15px;
}
.red4{
    background-color: rgb(200, 7, 7);
    color: #e7e6e6;
    padding: 35px;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 15px;
}
.red h3{
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: 100;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.red p{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 100;
    margin-top: 10px;
    background: #fff;
}

/* FAQ / accordion styling */
.red4 h3{
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 16px;
}
.red4 .accordion-button{
    background: rgba(0,0,0,0.15);
    color: #fff;
}
.red4 .accordion-button:not(.collapsed){
    background: rgb(200,7,7);
    color: #fff;
}
.red4 .accordion-body{
    color: #000;
    background: transparent;
}
.red4 .accordion-body p{
    background: #fff;
}
.searchbar{
    margin-top: 20px;
    margin-bottom: 20px;
}
.searchbar form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbar input[type="text"]{
    width: 600px;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}
.searchbar button{
    padding: 1px 1px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: rgb(200, 7, 7);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.searchbar button:hover{
    background-color: rgb(150, 5, 5);
}
.middle-links2 a{
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 100;
    color: #e7e5e5;
    text-decoration: none;
    transition: color 0.3s ease;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.middle-links2 a:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display', serif;
}
.copyright{
    text-align: center;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    color: #c6c5c5;
    margin-top: 40px;
    margin-bottom: 10px;
}
.location{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: #c6c5c5;
    margin-top: 10px;
    text-align: center;
}
.policies {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #c6c5c5;
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.policies a{
    color: #c6c5c5;
    text-decoration: none;
}
.policies a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.social-links2 a svg{
    color: #fff;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.social-links2 a:hover svg path{
    fill: #e0dfdf;
    text-decoration: underline;
}